@model List<Product>



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"><h1>Title</h1></th>
            <th scope="col"><h1>Price</h1></th>
            <th scope="col"><h1>Details</h1></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var prod in Model)
        {
            <tr class="text-primary">
                <td> @prod.Title </td>
                <td> @prod.Price </td>
                <td> <a href="/Customer/Products/Details/@prod.Id">Details</a> </td>
            </tr>
        }
        
    </tbody>
</table>