@model List<Product>



<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var prod in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => prod.Title)</td>
                <td>@Html.DisplayFor(modelItem => prod.Price)</td>
                @*<td><a asp-area="Customer" asp-controller="Products" asp-action="Details" >Detalhes</a></td>*@
                <td> <a href="/Customer/Products/Details/@prod.Id">Details</a> </td>
            </tr>
        }
    </tbody>
</table>