@model Product





<a asp-action="Index">voltar para o menu principal</a>
<br>
<br>

<h1>Criando um Produto</h1>

<form method="post">


	<div class="row">
		<label asp-for="Title" class="p-0">Nome</label>
		<input asp-for="Title" class="form-control">
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<br>

	<div class="row">
		<label asp-for="Description" class="p-0">Description</label>
		<input asp-for="Description" class="form-control">
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<br>

	<div class="row">
		<label asp-for="ISBN" class="p-0">ISBN</label>
		<input asp-for="ISBN" class="form-control">
		<span asp-validation-for="ISBN" class="text-danger"></span>
	</div>
	<br>

	<div class="row">
		<label asp-for="Author" class="p-0">Author</label>
		<input asp-for="Author" class="form-control">
		<span asp-validation-for="Author" class="text-danger"></span>
	</div>
	<br>

	<div class="row">
		<label asp-for="ListPrice" class="p-0">List Price</label>
		<input asp-for="ListPrice" class="form-control">
		<span asp-validation-for="ListPrice" class="text-danger"></span>
	</div>
	<br>

	<div class="row">
		<label asp-for="Price" class="p-0">Preço</label>
		<input asp-for="Price" class="form-control">
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>
	<br>

	<div class="row">
		<label asp-for="Price50" class="p-0">Preço Promocional 1-50</label>
		<input asp-for="Price50" class="form-control">
		<span asp-validation-for="Price50" class="text-danger"></span>
	</div>
	<br>

	<div class="row">
		<label asp-for="Price100" class="p-0">Preço Promocional 50-100</label>
		<input asp-for="Price100" class="form-control">
		<span asp-validation-for="Price100" class="text-danger"></span>
	</div>
	<br>

	<div class="row button ">
		<button asp-action="Create">Criar Produto</button>
	</div>

</form>