@model Product
@{
}
<a asp-action="Index">voltar para o menu principal</a>
<br>
<br>
<form method="post">
	<h4>
		Are you sure you want to delete
	</h4>
	<p>
		@Model.Title ?
	</p>

	<button asp-action="Delete" type="submit">Deletar</button>
</form>
