@model List<Product>


<a href="/Admin/Products/Create">Novo Produto</a>
<br>
<br>
<table class="table">
    <thead>
        <tr> 
            <th scope="col"><h1>Title</h1></th>
            <th scope="col"><h1>Price</h1></th>
            <th scope="col"><h1>Category</h1><th/>
            <th scope="col"></th>
            <th scope="col"><h1>Links</h1></th>
            <th scope="col"></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => prod.Title)</td>
                <td>@Html.DisplayFor(modelItem => prod.Price)</td>
                @if(prod.CategoryId.ToString() == ViewBag)
                {
                    <td>
                    
                    </td>
                }

                <td><a href="/Admin/Products/Details/@prod.Id">Details</a></td>
                <td><a href="/Admin/Products/Edit/@prod.Id">Edit</a></td>
                <td><a href="/Admin/Products/Delete/@prod.Id">Delete</a></td>

            </tr>

        }

    </tbody>
</table>